{ 
    "extends": "airbnb",
    "parser": "babel-eslint",
    "rules": {
        "prefer-arrow-callback": 0,
        "func-names": 0,
        "comma-dangle": 0,
        "jsx-quotes": 0,
        "react/jsx-filename-extension": 0,
        "import/extensions": 0,
        "jsx-a11y/label-has-for": 0
    },
    "env": {
        "browser": true,
        "jest": true
    }
}